{% extends "main.twig" %}

{#****************************#}

{% block title %}
    Error
{% endblock %}

{#****************************#}

{% block script %}
{% endblock %}

{#****************************#}

{% block pagetitle %}
    ERROR
{% endblock %}

{#****************************#}

{% block framegeometry %}
    "left: 5%;
    bottom: 30%;
    height: 200px;
    width: 90%"
{% endblock %}

{#****************************#}

{% block content %}

    <div class="alert alert-danger" role="alert">
        <h3>
            {{code}}   
        </h3>
        <p>
            {{message|raw}}
        </p>
    </div>

{% endblock %}
