{% extends "main.twig" %}

{#****************************#}

{% block title %}
	My amazing website
{% endblock %}

{#****************************#}

{% block script %}
{% endblock %}

{#****************************#}

{% block pagetitle %}
	LES VOYAGES DE BIGLOO
{% endblock %}

{#****************************#}

{% block framegeometry %}
    "width:50%; margin : 3% 0% 0% 50%;"
{% endblock %}

{#****************************#}

{% block content %}
    
    <h4> Liste des lieux que Bigloo a visité </h4>

    <ul>
    {% for trip in trips %}
        <li> <a href="{{ path('trip', {trip: trip.id}) }}"> {{ trip.name|e }} </a> </li> 
    {% endfor %}
    </ul>

    <a href="{{path('trip_create')}}"> Ajouter un voyage de Bigloo </a>

{% endblock %}
