{% extends "main.twig" %}

{#****************************#}

{% block title %}
  My amazing website
{% endblock %}

{#****************************#}

{% block pagetitle %}
	Ajouter un voyage
{% endblock %}

{#****************************#}

{% block content %}
	<br/>

	<form action="#" method="post">
    	{{ form_widget(form) }}

    	<input type="submit" name="submit" />
	</form>

    <br/>

{% endblock %}
